<h1 style="text-align:center">PANDAS DEEP PRACTICE</h1>

### import pandas
Description: Import Pandas library to work with structured data.

In [3]:
import pandas as pd

### Load CSV file

Description: Load the CSV dataset into a Pandas DataFrame

Pandas DataFrame is a two-dimensional, table-like data structure with labeled rows and columns.
It is used to store, manipulate, and analyze structured data easily.
A DataFrame is similar to an Excel spreadsheet or a database table.

In [7]:
df=pd.read_csv(r"F:\Downloads\archive\amazon.csv")

### Statistical summary

Description: Get basic statistical details of numerical columns.

In [8]:
df.describe()

,product_id,product_name,category,discounted_price,actual_price,discount_percentage,rating,rating_count,about_product,user_id,user_name,review_id,review_title,review_content,img_link,product_link
count,1465,1465,1465,1465,1465,1465,1465,1463,1465,1465,1465,1465,1465,1465,1465,1465
unique,1351,1337,211,550,449,92,28,1143,1293,1194,1194,1194,1194,1212,1412,1465
top,B07JW9H4J1,"Fire-Boltt Ninja Call Pro Plus 1.83"" Smart Wat...",Computers&Accessories|Accessories&Peripherals|...,₹199,₹999,50%,4.1,"9,378",[CHARGE & SYNC FUNCTION]- This cable comes wit...,"AHIKJUDTVJ4T6DV6IUGFYZ5LXMPA,AE55KTFVNXYFD5FPY...","$@|\|TO$|-|,Sethu madhav,Akash Thakur,Burger P...","R3F4T5TRYPTMIG,R3DQIEC603E7AY,R1O4Z15FD40PV5,R...","Worked on iPhone 7 and didn’t work on XR,Good ...","I am not big on camera usage, personally. I wa...",https://m.media-amazon.com/images/I/413sCRKobN...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
freq,3,5,233,53,120,56,244,9,6,10,10,10,10,8,3,1

### Check missing values

Description: Identify missing (null) values in the dataset.

In [9]:
df.isnull()

,product_id,product_name,category,discounted_price,actual_price,discount_percentage,rating,rating_count,about_product,user_id,user_name,review_id,review_title,review_content,img_link,product_link
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1461,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1462,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1463,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1464,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

### Count missing values

Description: Count how many missing values are present in each column.

In [10]:
df.isnull().sum()

product_id             0
product_name           0
category               0
discounted_price       0
actual_price           0
discount_percentage    0
rating                 0
rating_count           2
about_product          0
user_id                0
user_name              0
review_id              0
review_title           0
review_content         0
img_link               0
product_link           0
dtype: int64

### Fill missing values (mean)

Description: Replace missing values with the column’s average value.

In [19]:
df=pd.read_csv(r"F:\Downloads\large_students.csv")

df['Marks']=df['Marks'].fillna(df['Marks'].mean())
print(df)

          Name  Age  Marks     City
0    Student_1   19     53   City_2
1    Student_2   20     56   City_3
2    Student_3   21     59   City_4
3    Student_4   22     62   City_5
4    Student_5   18     65   City_6
5    Student_6   19     68   City_7
6    Student_7   20     71   City_8
7    Student_8   21     74   City_9
8    Student_9   22     77  City_10
9   Student_10   18     80   City_1
10  Student_11   19     83   City_2
11  Student_12   20     86   City_3
12  Student_13   21     89   City_4
13  Student_14   22     92   City_5
14  Student_15   18     95   City_6
15  Student_16   19     98   City_7
16  Student_17   20     51   City_8
17  Student_18   21     54   City_9
18  Student_19   22     57  City_10
19  Student_20   18     60   City_1
20  Student_21   19     63   City_2
21  Student_22   20     66   City_3
22  Student_23   21     69   City_4
23  Student_24   22     72   City_5
24  Student_25   18     75   City_6
25  Student_26   19     78   City_7
26  Student_27   20     81   City_8
27  Student_28   21     84   City_9
28  Student_29   22     87  City_10
29  Student_30   18     90   City_1

### Fill missing values (fixed value)

Description: Replace missing values with a fixed value like 0.

In [20]:
df['Age']=df['Age'].fillna(0)

### Drop rows with missing data

Description: Remove rows that contain any missing values.

In [21]:
df_1=df.dropna()

### Sort values

Description: Sort the dataset based on a specific column.

In [25]:
df.sort_values(by="Marks" ,ascending=False)

          Name  Age  Marks     City
15  Student_16   19     98   City_7
14  Student_15   18     95   City_6
13  Student_14   22     92   City_5
29  Student_30   18     90   City_1
12  Student_13   21     89   City_4
28  Student_29   22     87  City_10
11  Student_12   20     86   City_3
27  Student_28   21     84   City_9
10  Student_11   19     83   City_2
26  Student_27   20     81   City_8
9   Student_10   18     80   City_1
25  Student_26   19     78   City_7
8    Student_9   22     77  City_10
24  Student_25   18     75   City_6
7    Student_8   21     74   City_9
23  Student_24   22     72   City_5
6    Student_7   20     71   City_8
22  Student_23   21     69   City_4
5    Student_6   19     68   City_7
21  Student_22   20     66   City_3
4    Student_5   18     65   City_6
20  Student_21   19     63   City_2
3    Student_4   22     62   City_5
19  Student_20   18     60   City_1
2    Student_3   21     59   City_4
18  Student_19   22     57  City_10
1    Student_2   20     56   City_3
17  Student_18   21     54   City_9
0    Student_1   19     53   City_2
16  Student_17   20     51   City_8